
<section class="arrow">
  <button class="footer__containerbottom">
    <a href="./index.html" class="footer__containerbottom--bottom"> <img src="./assets/images/ico-arrow.svg" alt="flecha hacia arriba">
    </a>
  </button>
</section>
      
<section class="sectionfooter">
  <section class="footermenuandsocial">
      <nav class="footer-menu">
        <ul class="footer-menuitem">
          <a class="footer-menu-link" href="https://adalab.es/"><li class="footer-menu-items">Articles</li></a>
          <a class="footer-menu-link" href="https://adalab.es/"><li class="footer-menu-items">Books</li></a>
          <a class="footer-menu-link" href="https://adalab.es/"><li class="footer-menu-items">Events</li></a>
          <a class="footer-menu-link" href="https://adalab.es/"><li class="footer-menu-items">Reasons</li></a>
          <a class="footer-menu-link" href="https://adalab.es/"><li class="footer-menu-items">Tips</li>
          </a>
        </ul>
      </nav>
      <div class="social-menu">
        <ul class="social-menu-item">
          <a class="footer-menu-link" href="https://adalab.es/"><li class="footer-menu-items">Twitter</li>
          </a>
          <a class="footer-menu-link" href="https://adalab.es/"><li class="footer-menu-items">Instagram</li>
          </a>
          <a class="footer-menu-link" href="https://adalab.es/"><li class="footer-menu-items">Mastodon.social</li>
          </a>
        </ul>
      </div>
  </section>
  
      <div class="copy">
        <span class="copy-year">&copy;2022
        </span>
        <div class="welove">
          <span>we
          </span>
          <span class="heartcolor">❤︎
          </span>
          <span>components
          </span>
        </div>
      </div>
</section>
