<section class="sectionreasons"id="sectionreasons">
    <h2 class="sectionreasons__title">3 Reasons To Purchase</h2>

     <include class="box1" src="./articles.html"
     reasonstitle="Ut sed metus"
     reasonsdescription="Lorem ipsum dolor sit amet, consecteur."
     >
     </include>

     <include class="box2" src="./articles.html"
     reasonstitle="Curabitur ac erat"
     reasonsdescription="Mauris mattis urna quis lorem molestie."
     >
     </include>
     <include class="box3" src="./articles.html"
     reasonstitle="Morbi dictum"
     reasonsdescription="Aliquam in dolor et dolor tincidunt."
     >
     </include>
  
     
</section>

<section class="reasonsbottom">
  <div class="reasonsbottom__container">
   <a href="#" class="reasonsbottom__container--link">More reasons</a>
   </div>
</section>

