<section class="sectionwindow">
    <article class="sectionwindow__block">
      <p class="sectionwindow__tips">Insomnia tips</p>
      <h2 class="sectionwindow__title">Looking Through A Window</h2>
      <p class="sectionwindow__paragraph">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <div class="sectionwindow__divbottom"><a href="#" class="sectionwindow__gobottom">Go</a></div>
    </article>
</section>
