.hero{
    background-image: url(../images/cover.jpeg) ;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: $color-white;
        &__title {
        font-size: 42px;
        font-family:$font-family-title;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        line-height: 50px;
        position: relative;
        bottom: 50px;
        }
}
.hero__parragraph{
    font-family:$font-family-main;
    padding-top:15px;
    padding-bottom: 20px;
    position: relative;
    bottom: 50px;
}
.hero__arrowdown{
    border-radius: 50%;
    background-color: $color-white;
    border: 0px;
    padding: 15px 5px;
    width: 38px;
    height: 38px;
    margin-bottom: 34.1px;
    background-color: aquamarine;
    position: fixed;
}
// media queries

.hero__title{
@media all and (min-width: 768px) {
        font-size: 80px;
        line-height: 90px;
    }

@media all and (min-width: 1200px) {
        font-size: 100px;
        width: 12ch;
        line-height: 120px;
    }
}


.hero__parragraph{
    @media all and (min-width: 768px) {
        font-size:24px;
        width: 25ch;
        text-align: center;
        padding-bottom: 7px;
    }
    @media all and (min-width: 1200px) {
        width: 40ch;
        padding-bottom: 34px;
    }
}
.hero__arrowdown{
    @media all and (min-width: 768px) {
        width: 45px;
        height: 45px;
        line-height: 22px;
        margin-bottom: 30px;
        }
    @media all and (min-width: 1200px) {
        margin-bottom: 15px;

    }
}