// fonts
$font-family-main: "Roboto";
$font-family-title: 'Roboto Slab', serif;


// colors
$color-orange: #f26002;
$color-white: #ffffff;
$color-blue: #8ccbea;
$color-darkblue: #0271bc;
$color-lightblue:#eff9ff;
$color-black: #304268;
$greyish-brown: #4a4a4a;
