.container {
    width: 200px;
    height: 100px;
    margin: 100px;
    background-color: rgb(200, 230, 230);
    border: solid 1px rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.item {
    background-color: rgb(95, 83, 205);
    border: solid 1px black;
    width: 30px;
    height: 30px;
    padding-top: 10px;
    text-align: center;

}
